.JustRight-Accordion {
  position: relative;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #dedee2;
  color: #000433;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 18px;
  min-height: 60px;
  padding: 18px 24px;
  width: 100%;

  &::before {
    position: absolute;
    content: "";
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 98 95' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-miterlimit:1;'%3E%3Cpath d='M31.104,91.104l-14.25,0l-2.25,-38.25l-11.25,0c10.453,-17.985 25.099,-37.528 45,-49.5l17.25,9l0.75,-6l12,0l3,24l12.75,20.25l-9.75,0l-2.25,40.5l-12.75,0l-0.75,-57c-10.37,10.716 -14.879,24.905 -15.75,41.25l7.5,2.25l0.75,13.5l-21,0l0,-15l6,-6l-0.75,-33l-3.75,0l-3,23.25l-1.5,-23.25l-3.75,0l-1.5,23.25l-1.5,-23.25l-3.75,0l-1.5,32.25l5.25,6.75l0.75,15Z' style='fill:none;stroke:%23000;stroke-width:5px;'/%3E%3C/svg%3E");
    height: 24px;
    width: 24px;
  }

  &::after {
    pointer-events: none;
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 14px;
    height: 14px;
    border-color: black;
    color: black;
    border-bottom: 0.125em solid;
    border-right: 0.125em solid;
    transform: rotate(45deg);
    right: 29px;
    top: 20px;
    transition: transform 500ms;
  }
}

.JustRight-Accordion[open]::after {
  transform: rotate(225deg);
}

.JustRight-Accordion summary {
  font-weight: bold;
  cursor: pointer;
  list-style: none;

  span {
    padding-left: 40px;
  }
}

.JustRight-Accordion > summary::-webkit-details-marker,
.JustRight-Accordion > summary::marker {
  display: none;
}

.JustRight-Accordion ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  min-height: 100%;
  padding: 0;

  a {
    display: flex;
    align-items: center;
  }

  li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: calc(50% - 40px);
    padding: 12px 0;

    img {
      width: 52px;
      height: 52px;
      object-fit: contain;
      margin-right: 6px;
    }
  }
}

@media screen and (max-width: 798px) {
  .JustRight-Accordion ul li {
    flex-basis: 100%;
  }

  .JustRight-Accordion ul li img {
    width: 32px;
    height: 32px;
  }
}
